.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.info-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tasks span {
  margin: 5px;
  background-color: aquamarine;
  padding: 4px 8px;
  border-radius: 8px;
}

.new-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
